<!--
Filename: errors/500.ejs
Author: Jishnu Sundar
Student ID: 300819912
Web App: COMP308-W2017-MidTerm-300819912
-->
<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <p><%= error %></p>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


